<div class="container">   
    <div id="beyonce" class="uk-section uk-margin-auto uk-width-3-4 uk-flex uk-flex-center">
        <div class="uk-width-1-2">
            <iframe class="context" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3NgUACqzz04eVZFiiAx0GR?utm_source=generator" 
            width="80%" height="600" frameBorder="0" allowfullscreen="false" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    
        <div class="uk-width-1-2">
            <iframe class="contextright" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4dtBz6G3OxmXcQIsulJbAI?utm_source=generator" 
            width="80%" height="600" frameBorder="0" allowfullscreen="false" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </div>
</div>