<div id="daftpunk" class="uk-container uk-align-center uk-margin-left" uk-grid>
    <div class="" uk-grid>
        
        <div class="uk-width-1-1 uk-align-center uk-margin-auto uk-grid-match uk-grid uk-grid-stack">
            <div class="">
                <h1 class="uk-margin artistName">Daft Punk</h1>
            </div>
        </div>

        <div class="uk-grid-margin">
            <div class="uk-width-1-3@m uk-grid uk-grid-stack uk-align-center uk-margin-auto uk-grid-match first-column" uk-grid>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5KM2q7GVD3XutTa9Id4xuL?utm_source=generator"
                width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <p>Harder, Better, Faster, Stronger</p>
                <p> Lorem Ipsum Aenean vitae dui varius, vulputate sem dictum, porta tortor. 
                    Maecenas dictum fermentum turpis, at vulputate nibh malesuada ut. 
                    Vivamus sem turpis, varius eget diam iaculis, ultricies sodales orci. 
                    Nulla dictum est sollicitudin ante eleifend, non rhoncus tortor cursus. 
                    Mauris sed volutpat lorem. Suspendisse accumsan aliquam ipsum a tempor. 
                    Vivamus a lorem volutpat lorem porta placerat.</p>
            </div>
        </div>
        <div class="uk-grid-margin">
            <div class="uk-width-1-3@m uk-grid uk-grid-stack uk-align-center uk-margin-auto uk-grid-match" uk-grid>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/61uFszR9s54Scc8FQ7zaHK?utm_source=generator&theme=0"
                width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <p>One More Time</p>
                <p> Lorem Ipsum Aenean vitae dui varius, vulputate sem dictum, porta tortor. 
                    Maecenas dictum fermentum turpis, at vulputate nibh malesuada ut. 
                    Vivamus sem turpis, varius eget diam iaculis, ultricies sodales orci. 
                    Nulla dictum est sollicitudin ante eleifend, non rhoncus tortor cursus. 
                    Mauris sed volutpat lorem. Suspendisse accumsan aliquam ipsum a tempor. 
                    Vivamus a lorem volutpat lorem porta placerat.</p>
            </div>
        </div>

        <div class="uk-grid-margin">
            <div class="uk-width-1-1@m uk-grid uk-grid-stack">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7g05lv1ef0jEWotQkO81n3?utm_source=generator"
                width="250" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <p>Robot Rock</p>
            </div>
        </div>

        <div class="uk-grid-margin">
            <div class="uk-width-1-2@m uk-grid uk-grid-stack">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3t25vV2aNOjjcCPddxFp4p?utm_source=generator&theme=0"
                    width="250" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <p>Contact</p>
            </div>
        </div>

        <div class="uk-grid-margin">
            <div class="uk-width-1-2@m uk-grid uk-grid-stack">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3O2TuM3QHRvCYX22ljHnI7?utm_source=generator" 
            width="250" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <p>Face to Face</p>
            </div>
        </div>
    </div>
</div>