<div class="circles -z-10 top-[600vh]">
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
</div>

<div id="daftpunk" class="mt-48 h-32">
    <h1 id="" class="z-10 blinkTitle artistName my-2 text-4xl lg:text-6xl font-bold">Daft Punk</h1>
</div>

<div class="container mb-12 px-6 mx-auto">
    <section class="mb-32 text-gray-800 text-center">

        {# Row 1 - Desktop - 3 Cols wide #}
        <div class="grid md:grid-cols-3 gap-6 xl:gap-x-12">

            {# Sample 1 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5KM2q7GVD3XutTa9Id4xuL?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold mb-2">Harder, Better, Faster, Stronger</h5>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>
                        <hr>
                        <p class="mt-2 mb-4 pb-2 lg:pb-0"><strong>Sample taken from:</strong> Throughout</p>
                        <h6 class="text-lg font-semibold mb-2">Cola Bottle Baby by Edwin Birdsong</h6>
                    </div>
                </div>
            </div>

            {# Sample 2 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/61uFszR9s54Scc8FQ7zaHK?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold mb-2">One More Time by Daft Punk</h5>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>
                        <hr>
                        <p class="mt-2 mb-4 pb-2 lg:pb-0"><strong>Sample taken from:</strong> 0:22 to 0:40</p>
                        <h6 class="text-lg font-semibold mb-2">More Spell on You by Eddie Johns</h6>
                    </div>
                </div>
            </div>

            {# Sample 3 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3O2TuM3QHRvCYX22ljHnI7?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>                        
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold mb-2">Face to Face by Daft Punk</h5>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> 0:08 and throughout</p>
                        <hr>
                        <p class="mt-2 mb-4 pb-2 lg:pb-0"><strong>Sample taken from:</strong> 1:15 and throughout</p>
                        <h6 class="text-lg font-semibold mb-2">Evil Woman by ELO</h6>
                    </div>
                </div>
            </div>
        </div>


        {# Row 2 - Desktop = 2 Cols wide #}
        <div class="my-16 grid md:grid-cols-2 gap-6 xl:gap-x-12">

            {# Sample 4 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3t25vV2aNOjjcCPddxFp4p?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold mb-2">Contact by Daft Punk</h5>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>
                        <hr>
                        <p class="mt-2 mb-4 pb-2 lg:pb-0"><strong>Sample taken from:</strong>Throughout</p>
                        <h6 class="text-lg font-semibold mb-2">We Ride Tonight by The Sherbs</h6>
                    </div>
                </div>
            </div>

            {# Sample 5 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7g05lv1ef0jEWotQkO81n3?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold mb-2">Robot Rock</h5>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>
                        <hr>
                        <p class="mt-2 mb-4 pb-2 lg:pb-0"><strong>Sample taken from:</strong> Throughout</p>
                        <h6 class="text-lg font-semibold mb-2">Release the Beast by Breakwater </h6>
                    </div>
                </div>
            </div>
        </div>
        
  </section>
</div>
<div class="upcircles top-[720vh]">
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
</div>