<div class="circles -z-10 top-[1040vh] ">
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
</div>

<div id="famous" class="mt-48 h-32">
    <h1 id="" class="z-10 blinkTitle artistName my-2 text-4xl lg:text-6xl font-bold">Famous Samples</h1>
</div>

<div class="container mb-12 px-6 mx-auto">
    <section class="mb-32 text-gray-800 text-center">

        {# Row 1 - Desktop - 3 Cols wide #}
        <div class="grid md:grid-cols-3 gap-6 xl:gap-x-12">

            {# Sample 1 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1faAfdUOWRArSVGtUfIzhm?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold my-2">Take Me To The Mardi Gras by Bob James</h5>
                        <hr>

                        <h6 class="text-lg font-semibold my-2">Rock the Bells by Boys Noise</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> 0:37 and throughout</p>

                        <hr>
                        <h6 class="text-lg font-semibold my-2">Peter Piper by Run DMC</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> 0:10 and throughout</p>

                        <hr>
                        <h6 class="text-lg font-semibold my-2">Straight Outta Compton by NWA</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> 0:03 and throughout</p>
                    </div>
                </div>
            </div>

            {# Sample 2 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/58WmqhLl3xvE1a0x7eTFfI?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold my-2">Why Can’t We Live Together by Timmy Thomas</h5>
                        <hr>

                        <h6 class="text-lg font-semibold my-2">Hotline Bling by Drake</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> 0:37 and throughout</p>

                        <hr>
                        <h6 class="text-lg font-semibold my-2">Tell Me by MC Hammer</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> 0:00, 0:22 and throughout</p>
                    </div>
                </div>
            </div>

            {# Sample 3 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0rfzuiqTgn0RYjsskDHz5W?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold my-2">It’s Ecstasy When You Lay Down Next to Me by Barry White</h5>
                        <hr>

                        <h6 class="text-lg font-semibold my-2">You Bring Me Joy by Mary J Blige</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>

                        <hr>
                        <h6 class="text-lg font-semibold my-2">Rock DJ by Robbie Willams</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>
                    </div>
                </div>
            </div>
        </div>

        {# Row 2 - Desktop = 2 Cols wide #}
        <div class="my-16 grid md:grid-cols-2 gap-6 xl:gap-x-12">

            {# Sample 4 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1XFqhhL15ilUB3VdNti0kk?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold my-2">Got to Give it Up by Marvin Gaye</h5>
                    <hr>
                        <h6 class="text-lg font-semibold my-2">Keep on Dancing by Parov Stellar</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample taken from:</strong> 3:10 to 3:40</p>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>
                    <hr>
                        <h6 class="text-lg font-semibold my-2">Cocaine by Logic</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> 0:24 and throughout</p>
                    <hr>
                        <h6 class="text-lg font-semibold my-2">Blurred Lines by Robin Thicke</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>

                     
                    </div>
                </div>
            </div>

            {# Sample 5 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6HbP26ufJejHtk2l5Btbht?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold my-2">Love on a Two-Way Street by The Moments</h5>
                        <hr>

                        <h6 class="text-lg font-semibold my-2">Empire State of Mind by Jay-Z and Alicia Keys</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>

                        <hr>
                        <h6 class="text-lg font-semibold my-2">What It Used to Be by Nicolay & Wiz Khalifa</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>
                    </div>
                </div>
            </div>
        </div>
        
        {# Row 3 - Desktop - 3 Cols wide #}
        <div class="grid md:grid-cols-2 gap-6 xl:gap-x-12">

            {# Sample 6 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5Pl7OTBopGY12cDo4S1tro?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white  ">
                        <h5 class="text-xl font-bold my-2">Think(About It) by Lyn Collins</h5>
                        <hr>

                        <h6 class="text-lg font-semibold my-2">It Takes Two by Rob Base & DJ E-Z Rock</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample taken from:</strong> 0:33 and 1:23</p>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>
                    </div>
                </div>
            </div>

            {# Sample 7 #}
            <div class="mb-6 lg:mb-0">
                <div class="h-full w-full bg-gray-700 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-60 border border-gray-100 relative block rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4 w-full"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1dg7fnqzw0ZtPzVP6YaEcT?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="p-6 text-white">
                        <h5 class="text-xl font-bold my-2">34 Ghosts IV by Nine Inch Nails</h5>
                        <hr>

                        <h6 class="text-lg font-semibold my-2">Old Town Road by Lil Nas X</h6>
                        <p class="mb-4 pb-2 lg:pb-0"><strong>Sample used at:</strong> Throughout</p>
                    </div>
                </div>
            </div>
        </div>
  </section>
</div>

<div class="upcircles top-[1240vh]">
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
</div>