<div class="circles">
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
</div>

<div class="upcircles">
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
</div>
