{# <div class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-5 pink-950 sm:bg-transparent">
  <div class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap items-center">
    <h1 class="text-gray-50 text-lg md:text-2xl lg:text-4xl">Please complete the form below to share your favourite meal</h1>
  </div>    

 <form class="" name="submitMeal" method="POST" data-netlify="true">

  <label for="mealName">Recipe Name</label>
  <textarea class="w-3/4" name="mealName" id="mealName" 
  placeholder="Enter the name of your meal"
  rows="1" required></textarea>

  <label for="details">Details</label>
  <textarea name="details" id="details" 
  placeholder="The details of your meal, e.g. Makes: 12, Calories: 190 per Cookie, Macros:..." 
  rows="3" required></textarea>

  <label for="ingredients">Ingredients</label>
  <textarea name="ingredients" id="ingredients" 
  placeholder="The ingredients of your meal, e.g. 1 Cup of GF Plain Flour, 1 Cup of Sugar, 1/2 Cup of Milk..." 
  rows="6" required></textarea>
  
  <label for="method">Method</label>
  <textarea name="method" id="method" 
  placeholder="The method of preparing your meal, e.g. Take the dry ingredients and mix together in a bowl..." 
  rows="6" required></textarea>
  
  <label for="tags">Tags</label>
  <textarea name="tags" id="tags"
  placeholder="The tags of your meal, e.g. Gluten-Free, Low Iodine, Dessert..."
  rows="6" required> </textarea>

  <label for="imgUrl">Image URL</label>
  <textarea name="imgUrl" id="imgUrl" 
  placeholder="The url to an online image of your meal, e.g. https://i.imgur.com/pR6fN19.jpeg"
  rows="1"> </textarea>
  
  <button class="button" type="submit" 
  name="submit">Submit Recipe</button> #}

  {# </form><!-- // End form --> #}

<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full p-10">
    <div class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!--Logo-->
                <div class="text-center">
                  <img
                    class="mx-auto w-48"
                    src="/static/img/logo.png"
                    alt="logo" />
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                  Please complete the form below to share your favourite meal
                  </h4>
                </div>

                <form class="" name="submitMeal" method="POST" data-netlify="true">
                   <!--Meal Name input-->
                  <div class="relative mb-3" data-te-input-wrapper-init>
                     <label
                      for="mealName"
                      class="pointer-events-none absolute left-3 mb-2 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                      >Meal Name:
                    </label>
                    <input
                      type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                      id="mealName" name="mealName"  rows="2" required
                      placeholder="The name of your recipe" />
  
                  </div>

                  <!--Details input-->
                  <div class="relative mb-3" data-te-input-wrapper-init>
                    <label
                      for="details"
                      class="pointer-events-none absolute left-3 mb-2 top-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                      >Details:
                    </label>
                    <textarea
                      type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                      name="details" id="details"  rows="3" required
                      placeholder="The details of your meal, e.g. Makes: 12, Calories: 190 per Cookie, Macros:..."> </textarea>
                  </div>


                  <!--Ingredients input-->
                  <div class="relative mb-3" data-te-input-wrapper-init>
                    <label
                      for="ingredients"
                      class="pointer-events-none absolute left-3 top-0 mb-2 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                      >Ingredients:
                    </label>

                    <textarea
                      type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                      name="ingredients" id="ingredients" rows="6" required
                      placeholder="The ingredients of your meal, e.g. 1 Cup of GF Plain Flour, 1 Cup of Sugar, 1/2 Cup of Milk..."> 
                      </textarea>
                  </div>

                  <!--Method input-->
                  <div class="relative mb-3" data-te-input-wrapper-init>
                   <label
                      for="method"
                      class="pointer-events-none absolute left-3 mb-2 top-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                      >Method:
                    </label>

                    <textarea
                      type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                      name="method" id="method" rows="6" required
                      placeholder="The method of preparing your meal, e.g. Take the dry ingredients and mix together in a bowl..">
                    </textarea>
                  </div>

                  <!--Tags input-->
                  <div class="relative mb-3" data-te-input-wrapper-init>
                    <label
                      for="tags"
                      class="pointer-events-none absolute left-3 mb-2 top-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                      >Tags:
                    </label>
                    <input
                      type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                      name="tags" id="tags" rows="2" required
                      placeholder="The tags of your meal, e.g. Gluten-Free, Low Iodine, Dessert...">
                    </input>
                  </div>

                  <!--Image URL input-->
                  <div class="relative mb-3" data-te-input-wrapper-init>
                    <label
                      for="imgUrl"
                      class="pointer-events-none absolute left-3 mb-2 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                      >Image URL
                    </label>
                    <input
                      type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                      name="imgUrl" id="imgUrl" rows="2" required
                      placeholder="The url to an online image of your meal, e.g. https://i.imgur.com/pR6fN19.jpeg" />
                  </div>
                  <!--Submit button-->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <button
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                    type="submit" name="submit">
                    Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
        
            <!-- Right column container with image-->
            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none">
              <img class="px-4 py-6 text-white md:mx-6 md:p-12" src="https://images.unsplash.com/photo-1627662057433-57fe8756a4f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80">
            </div>
          </div>
      </div>
    </div>
  </div>
</section>