<div class="circles -z-10 mt-0">
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
</div>

<div id="top" class="mt-12">
    <h1 class="blinkTitle artistName text-4xl lg:text-4xl font-bold mb-16">Sampling the Stars</h1>
</div>

<div class="headerContainer z-10">

        <div class="positionOne align-center justify-center text-center">
            <div class="artistContainer">
                <a href="#kanye"> <img class="artist" src="https://images.unsplash.com/photo-1432250767374-ee19cba37b52?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1317&q=80" 
                alt="Image of Kanye West on stage"></a>
            </div>
            <div class="w1/1">
                <a class="artistName blinkOne text-3xl lg:text-4xl" href="#kanye">Kanye West</a>
            </div>
        </div>

        <div class="positionTwo align-center justify-center text-center">
            <div class="artistContainer">
                <a href="#pitbull"> <img class="artist" src="https://images.unsplash.com/photo-1620001796685-adf7110fe1a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" 
                alt="A Pitbull"></a>
            </div>
            <div class="w-1/1">
                <a class="artistName blinkTwo text-3xl lg:text-4xl" href="#pitbull">Pitbull</a>
            </div>
        </div>

        <div class="positionThree align-center justify-center text-center">
            <div class="artistContainer">
                <a href="#beyonce"> <img class="artist" src="https://images.unsplash.com/photo-1603633247906-4746fea3141a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" 
                alt="Border circle"> </a>
            </div>
            <div class="w-1/1">
                <a class="artistName blinkThree text-3xl lg:text-4xl" href="#beyonce">Beyonce</a>
            </div>
        </div>

        <div class="positionFour align-center justify-center text-center">
            <div class="artistContainer">
                <a href="#daftpunk"> <img class="artist" src="https://images.unsplash.com/photo-1606542758304-820b04394ac2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" 
                alt="Border circle"></a>
            </div>
            <div class="w-1/1">
               <a class="artistName blinkFour text-3xl lg:text-4xl" href="#daftpunk">Daft Punk</a>
            </div>  
        
        </div>


        <div class="positionFive align-center justify-center text-center">
            <div class="artistContainer">
                <a href="#famous"> <img class="artist" src="https://images.unsplash.com/photo-1527867006146-ff7dcb1a9cb0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" 
                alt="Border circle"></a>
            </div>
            <div class="w-1/1">
               <a class="artistName blinkFive text-3xl lg:text-4xl" href="#famous">Famous Samples</a>
            </div>
        </div>          
</div>      
<span><a class="backToTop rounded-full px-6 py-4 text-xl lg:text-3xl" href ="#top">Back to top</a></span>

<div class="upcircles -z-10">
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
    <i class="star" aria-hidden="true"><img src="/static/img/star.png"></i>
</div>
