<header class="animatedbg">
<nav class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-5 pink-950 sm:bg-transparent">
  <div class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap items-center">
  <a href="/" class="no-underline"><img  src="/static/img/Nourish-Logomark.png" alt="Choose Nourish Logo" loading="lazy" class="h-24 py-1"></a>
  <h1 class="text-gray-50 align-left font-bold tracking-wide text-lg md:text-2xl lg:text-4xl">Choose Nourish</h1>
  </div>
        <div class="mobile-nav">
          <button class="mobile-btn" onclick="toggleMenu(1)">Menu</button>
        </div>
        <ul class="nav" id="main-nav">
          <li class="close-item">
            <button class="mobile-btn" onclick="toggleMenu(0)">Close &times;</button>
          </li>
 <div class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap items-center">
          <li class="nav-item">
            <a href="/recipes" class="nav-link">Recipes 
            <i class="fa fa-caret-down"></i></a>

              <ul class="dp-menu level-1">
                <li class="dp-item">
                  <a href="/recipes" class="dp-link">New 
                  <i class="fa fa-caret-right"></i>
                  </a>
                </li>
                <li class="dp-item">
                  <a href="/tags/entertaining" class="dp-link">Entertaining
                    <i class="fa fa-caret-right"></i>
                  </a>
                <li class="dp-item">
                  <a href="/cuisines" class="dp-link">Cuisines</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
            <a href="/tags/restrictions/" class="nav-link">Restrictions 
            <i class="fa fa-caret-down"></i></a>
              <ul class="dp-menu level-1">
                <li class="dp-item">
                  <a href="/tags/Medical/" class="dp-link">Medical 
                  <i class="fa fa-caret-right"></i>
                  </a>
                    <ul class="dp-menu level-2">
                      <li class="dp-item">
                        <a href="/tags/Coeliac/" class="dp-link">Coeliac</a>
                      </li>
                      <li class="dp-item">
                        <a href="/tags/Crohns%20Disease/" class="dp-link">Crohn's Disease</a>
                      </li>
                      <li class="dp-item">
                        <a href="/tags/GERD/" class="dp-link">GERD</a>
                      </li>
                      <li class="dp-item">
                        <a href="/tags/IBS/" class="dp-link">IBS</a>
                      </li>
                      <li class="dp-item">
                        <a href="/tags/Pregnancy/" class="dp-link">Pregnancy</a>
                      </li>
                    </ul>
                </li>

                <li class="dp-item">
                  <a href="/tags/Allergies%20and%20Intolerances/" class="dp-link">Allergies & Intolerances 
                    <i class="fa fa-caret-right"></i>
                  </a>
                  <ul class="dp-menu level-2">
                    <li class="dp-item">
                      <a href="/tags/Dairy-Free/" class="dp-link">Dairy-Free</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/Gluten-Free/" class="dp-link">Gluten-Free</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/Peanut%20Allergy/" class="dp-link">Peanut Allergy</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/Tree%20Nut%20Allergy/" class="dp-link">Tree Nut Allergy</a>
                    </li>
                  </ul>
                </li>

                <li class="dp-item">
                  <a href="/tags/PersonalChoice/" class="dp-link">Personal Choice 
                  <i class="fa fa-caret-right"></i>
                  </a>
                    <ul class="dp-menu level-2">
                      <li class="dp-item">
                        <a href="/tags/Ketogenic/" class="dp-link">Ketogenic</a>
                      </li>
                      <li class="dp-item">
                        <a href="/tags/Paleo/" class="dp-link">Paleo</a>
                      </li>
                      <li class="dp-item">
                        <a href="/tags/Vegan/" class="dp-link">Vegan</a>
                      </li>
                      <li class="dp-item">
                        <a href="/tags/Vegetarian/" class="dp-link">Vegetarian</a>
                      </li>
                    </ul>
                </li>

                <li class="dp-item">
                  <a href="/tags/Nutritional/" class="dp-link">Nutritional
                    <i class="fa fa-caret-right"></i>
                  </a>
                  <ul class="dp-menu level-2">
                    <li class="dp-item">
                      <a href="/tags/High%20Fibre//" class="dp-link">High Fibre</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/High%20Protein/" class="dp-link">High Protein</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/Low%20Calorie/" class="dp-link">Low Calorie</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/Low%20Cholesterol//" class="dp-link">Low Cholesterol</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/Low%20FODMAP//" class="dp-link">Low FODMAP</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/Low%20GI//" class="dp-link">Low GI</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/Low%20Iodine//" class="dp-link">Low Iodine</a>
                    </li>
                    <li class="dp-item">
                      <a href="/tags/Low%20Sodium/" class="dp-link">Low Sodium</a>
                    </li>
                  </ul>
                </li>

              </ul>
            </li>
          <li class="nav-item">
            <a href="/tags/Dinner/" class="nav-link">Dinner</a>
          </li>
          <li class="nav-item">
            <a href="/tags/Easy%20and%20Breezy/" class="nav-link">Easy & Breezy</a>
          </li>
          <li class="nav-item">
            <a href="/tags/Baking/" class="nav-link">Baking</a>
          </li>
          <li class="nav-item pr-8">
            <a href="/submit" class="nav-link">Submit a meal</a>
          </li>
        </ul>
      </div>
  </nav>
</header>

<script>
function toggleMenu(id) {
  console.log(id);
  let nav = document.getElementById("main-nav");
  if (id === 1) {
    nav.style.left = "0%20";
  } else {
    nav.style.left = "-100%20";
  } }
</script>
