<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="">
		
		{# Header #}
		{% include "components/header.njk" %}


		{# Artists #}
		{% include "artists/kanye.njk" %}

		{% include "artists/pitbull.njk" %}

		{% include "artists/beyonce.njk" %}
	
		{% include "artists/daftpunk.njk" %}

		{% include "artists/famous.njk" %}
		
		<main>
			{{ layoutContent | safe }}
		</main>

	</body>

</html>
