---
layout: layouts/base.njk
section: contact
---
<div class="page-container">
  <h1 class="text-gray-50 text-lg md:text-2xl lg:text-4xl">{{ title }}</h1>
  <hr>
  {{ layoutContent | safe }}

  {% include "components/form.njk" %}
</div>