---
layout: layouts/base.njk
title: Cuisines
permalink: /cuisines/index.html
---
<div class="mt:0 flex flex-col justify-center h-full pb-6">
  <div class="self-center items-center flex flex-col sm:flex-row w-full px-4 sm:px-0">
    <div class="w-full text-center sm:text-left pt-8 sm:px-8">
            <h1 class="text-gray-50 mx-16 my-24 align-left font-bold tracking-wide text-lg md:text-2xl lg:text-4xl">Cuisines</h1>
            <!--Pills navigation for primary color-->
            <ul
            class="mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row"
            role="tablist"
            data-te-nav-ref>
            <li role="presentation">
                <a
                href="#pills-home0"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-primary-100 data-[te-nav-active]:text-primary-700 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-primary-700 md:mr-4"
                id="pills-home-tab0"
                data-te-toggle="pill"
                data-te-target="#pills-home0"
                data-te-nav-active
                role="tab"
                aria-controls="pills-home0"
                aria-selected="true"
                >American</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-profile0"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-primary-100 data-[te-nav-active]:text-primary-700 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-primary-700 md:mr-4"
                id="pills-profile-tab0"
                data-te-toggle="pill"
                data-te-target="#pills-profile0"
                role="tab"
                aria-controls="pills-profile0"
                aria-selected="false"
                >Italian</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-contact0"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-primary-100 data-[te-nav-active]:text-primary-700 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-primary-700 md:mr-4"
                id="pills-contact-tab0"
                data-te-toggle="pill"
                data-te-target="#pills-contact0"
                role="tab"
                aria-controls="pills-contact0"
                aria-selected="false"
                >Asian</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-disabled0"
                class="pointer-events-none my-2 block rounded bg-neutral-200 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-400 dark:bg-neutral-600 dark:text-neutral-500"
                id="pills-disabled-tab0"
                data-te-toggle="pill"
                data-te-target="#pills-disabled0"
                role="tab"
                aria-controls="pills-disabled0"
                aria-selected="false"
                >Mexican</a
                >
            </li>
            </ul>

            <!--Pills content for primary color-->
            <div class="mb-6">
            <div
                class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-home0"
                role="tabpanel"
                aria-labelledby="pills-home-tab0"
                data-te-tab-active>
                Row 2
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-profile0"
                role="tabpanel"
                aria-labelledby="pills-profile-tab0">
               Col 2
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-contact0"
                role="tabpanel"
                aria-labelledby="pills-contact-tab0">
                Col 3
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-disabled0"
                role="tabpanel"
                aria-labelledby="pills-disabled-tab0">
               Col 4 - Disabled
            </div>
            </div>

            <!--Pills navigation for secondary color-->
            <ul
            class="mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row"
            role="tablist"
            data-te-nav-ref>
            <li role="presentation">
                <a
                href="#pills-home1"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-secondary-200 data-[te-nav-active]:text-secondary-900 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-secondary-900 md:mr-4"
                id="pills-home-tab1"
                data-te-toggle="pill"
                data-te-target="#pills-home1"
                data-te-nav-active
                role="tab"
                aria-controls="pills-home1"
                aria-selected="true"
                >Kid-Friendly</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-profile1"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-secondary-200 data-[te-nav-active]:text-secondary-900 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-secondary-900 md:mr-4"
                id="pills-profile-tab1"
                data-te-toggle="pill"
                data-te-target="#pills-profile1"
                role="tab"
                aria-controls="pills-profile1"
                aria-selected="false"
                >Soul Food</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-contact1"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-secondary-200 data-[te-nav-active]:text-secondary-900 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-secondary-900 md:mr-4"
                id="pills-contact-tab1"
                data-te-toggle="pill"
                data-te-target="#pills-contact1"
                role="tab"
                aria-controls="pills-contact1"
                aria-selected="false"
                >French</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-disabled1"
                class="pointer-events-none my-2 block rounded bg-neutral-200 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-400 dark:bg-neutral-600 dark:text-neutral-500"
                id="pills-disabled-tab1"
                data-te-toggle="pill"
                data-te-target="#pills-disabled1"
                role="tab"
                aria-controls="pills-disabled1"
                aria-selected="false"
                >Indian</a
                >
            </li>
            </ul>

            <!--Pills content for secondary color-->
            <div class="mb-6">
            <div
                class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-home1"
                role="tabpanel"
                aria-labelledby="pills-home-tab1"
                data-te-tab-active>
                Row 3
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-profile1"
                role="tabpanel"
                aria-labelledby="pills-profile-tab1">
                Tab 2 content
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-contact1"
                role="tabpanel"
                aria-labelledby="pills-contact-tab1">
                Tab 3 content
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-disabled1"
                role="tabpanel"
                aria-labelledby="pills-disabled-tab1">
                Tab 4 disabled
            </div>
            </div>

            <!--Pills navigation for success color-->
            <ul
            class="mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row"
            role="tablist"
            data-te-nav-ref>
            <li role="presentation">
                <a
                href="#pills-home2"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-success-100 data-[te-nav-active]:text-success-700 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-success-700 md:mr-4"
                id="pills-home-tab2"
                data-te-toggle="pill"
                data-te-target="#pills-home2"
                data-te-nav-active
                role="tab"
                aria-controls="pills-home2"
                aria-selected="true"
                >Chinese</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-profile2"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-success-100 data-[te-nav-active]:text-success-700 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-success-700 md:mr-4"
                id="pills-profile-tab2"
                data-te-toggle="pill"
                data-te-target="#pills-profile2"
                role="tab"
                aria-controls="pills-profile2"
                aria-selected="false"
                >Spanish</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-contact2"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-success-100 data-[te-nav-active]:text-success-700 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-success-700 md:mr-4"
                id="pills-contact-tab2"
                data-te-toggle="pill"
                data-te-target="#pills-contact2"
                role="tab"
                aria-controls="pills-contact2"
                aria-selected="false"
                >English</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-disabled2"
                class="pointer-events-none my-2 block rounded bg-neutral-200 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-400 dark:bg-neutral-600 dark:text-neutral-500"
                id="pills-disabled-tab2"
                data-te-toggle="pill"
                data-te-target="#pills-disabled2"
                role="tab"
                aria-controls="pills-disabled2"
                aria-selected="false"
                >Greek</a
                >
            </li>
            </ul>

            <!--Pills content for success color-->
            <div class="mb-6">
            <div
                class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-home2"
                role="tabpanel"
                aria-labelledby="pills-home-tab2"
                data-te-tab-active>
                Row 4
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-profile2"
                role="tabpanel"
                aria-labelledby="pills-profile-tab2">
                Tab 2 content
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-contact2"
                role="tabpanel"
                aria-labelledby="pills-contact-tab2">
                Tab 3 content
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-disabled2"
                role="tabpanel"
                aria-labelledby="pills-disabled-tab2">
                Tab 4 disabled
            </div>
            </div>

            <!--Pills navigation for danger color-->
            <ul
            class="mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row"
            role="tablist"
            data-te-nav-ref>
            <li role="presentation">
                <a
                href="#pills-home3"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-danger-100 data-[te-nav-active]:text-danger-700 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-danger-700 md:mr-4"
                id="pills-home-tab3"
                data-te-toggle="pill"
                data-te-target="#pills-home3"
                data-te-nav-active
                role="tab"
                aria-controls="pills-home3"
                aria-selected="true"
                >Thai</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-profile3"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-danger-100 data-[te-nav-active]:text-danger-700 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-danger-700 md:mr-4"
                id="pills-profile-tab3"
                data-te-toggle="pill"
                data-te-target="#pills-profile3"
                role="tab"
                aria-controls="pills-profile3"
                aria-selected="false"
                >German</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-contact3"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-danger-100 data-[te-nav-active]:text-danger-700 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-danger-700 md:mr-4"
                id="pills-contact-tab3"
                data-te-toggle="pill"
                data-te-target="#pills-contact3"
                role="tab"
                aria-controls="pills-contact3"
                aria-selected="false"
                >Moroccan</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-disabled3"
                class="pointer-events-none my-2 block rounded bg-neutral-200 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-400 dark:bg-neutral-600 dark:text-neutral-500"
                id="pills-disabled-tab3"
                data-te-toggle="pill"
                data-te-target="#pills-disabled3"
                role="tab"
                aria-controls="pills-disabled3"
                aria-selected="false"
                >Japanese</a
                >
            </li>
            </ul>

            <!--Pills content for danger color-->
            <div class="mb-6">
            <div
                class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-home3"
                role="tabpanel"
                aria-labelledby="pills-home-tab3"
                data-te-tab-active>
                 Row 5
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-profile3"
                role="tabpanel"
                aria-labelledby="pills-profile-tab3">
                Tab 2 content
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-contact3"Ft
                role="tabpanel"
                aria-labelledby="pills-contact-tab3">
                Tab 3 content
            </div>
            <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="pills-disabled3"
                role="tabpanel"
                aria-labelledby="pills-disabled-tab3">
                Tab 4 disabled
            </div>
            </div>

            <!--Pills navigation for warning color-->
            <ul
            class="mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row"
            role="tablist"
            data-te-nav-ref>
            <li role="presentation">
                <a
                href="#pills-home4"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-warning-100 data-[te-nav-active]:text-warning-800 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-warning-800 md:mr-4"
                id="pills-home-tab4"
                data-te-toggle="pill"
                data-te-target="#pills-home4"
                data-te-nav-active
                role="tab"
                aria-controls="pills-home4"
                aria-selected="true"
                >Brazillian</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-profile4"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-warning-100 data-[te-nav-active]:text-warning-800 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-warning-800 md:mr-4"
                id="pills-profile-tab4"
                data-te-toggle="pill"
                data-te-target="#pills-profile4"
                role="tab"
                aria-controls="pills-profile4"
                aria-selected="false"
                >Portuguese</a
                >
            </li>
            <li role="presentation">
                <a
                href="#pills-contact4"
                class="my-2 block rounded bg-neutral-100 px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 data-[te-nav-active]:!bg-warning-100 data-[te-nav-active]:text-warning-800 dark:bg-neutral-700 dark:text-white dark:data-[te-nav-active]:text-warning-800 md:mr-4"
                id="pills-contact-tab4"
                data-te-toggle="pill"
                data-te-target="#pills-contact4"
                role="tab"
                aria-controls="pills-contact4"
                aria-selected="false"
                >Hungarian</a
                >
            </li>
            </ul>
            </div>
        </div>
    </div>
</div>